


</body>


<footer class="page-footer font-small bg-info text-white mt-4 ">


  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://MdJobairRafi.com/" class="text-white">Mohammad Jobair Rafi</a>
  </div>


</footer>

</html>
