<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Story</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!--Navbar -->
    <nav class="navbar navbar-expand-sm bg-info">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a href="/" class="nav-link navbar-brand text-white">Small Story</a>
        </li>
      </ul>
      <!-- Button for toggling the visibility of the menu -->
      <button type="button" data-target="#collapseNavbar" data-toggle="collapse" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav ml-auto class="collapse multi-collapse" id="collapseNavbar"">
        <li class="nav-item">
          <a href="/" class="nav-link text-white">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link text-white">About us</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link text-white">Contact us</a>
        </li>
      </div>
    </nav>

<!--/.Navbar -->
